<div class="add-note-container">
  <div *ngIf="message.text" class="alert alert-{{ message.type }}">{{ message.text }}</div>
  <form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <label class="control-label" for="note-text">Note Text</label>
    <input
      type="text"
      id="note-text"
      class="form-control"
      required
      #name="ngModel"
      name="text"
      ngModel
      [ngModel]="noteText"
    />
    <div class="form-group">
      <label class="control-label" for="note-color">Note Color</label>
      <select id="note-color" class="form-control" #name="ngModel" name="color" ngModel>
        <option *ngFor="let c of colors" [value]="c">{{ c }}</option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="f.invalid">Add Note</button>
  </form>
</div>
